<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

<bean id="Batman" class="ua.beloff.Superhero">
<constructor-arg type="java.lang.String" value="Batman"/>
<constructor-arg type="int" value="124"/>

<property  name="friend" value="Robin"/>

<property name="villains">
			<list>
			 	    <value>Joker</value>
        	 	<value>Penguin</value>
        	 	<value>Two-Face</value>
			</list>
		</property>
</bean>






</beans>
